

  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;800&display=swap');
:root{
--primary-color:#7634bf;
--secondary-color:#e03584;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik";
}
/* .hero{
    background-image: url(img1.avif);
    background-size: cover;
    height: 500px;
} */
.hero{
  background-image: linear-gradient(to right,black,purple);

    height: 900px;
}
.img-div{
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 0.5%;
 
}
.hero-img{
  
    background-image: url(/website/img1.avif);
    background-size: cover;
    height: 650px;
    width:640px ;
   
   

}
/* .box{
display: flex;
} */
header{
    font-family: "Rubik";
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
padding-top: 40px;
padding-left: 9rem;
}
header i{
    color:var(--primary-color);
}
.box{
    display: flex;
}
.content{
    padding-left: 8%;
    padding-top: 6%;
}
.content h1{
    color: white;
    font-size: 6rem;
   
   word-spacing:5px ;
}
.color{
    color: var(--secondary-color);
}
#para1{
    color: white;
    font-size: 19px;
    font-weight: 400;
    padding-top: 1.5rem;
}
#btn{
    margin-top: 2.5rem;
    background-color:var(--primary-color);
    padding: 15px 25px;
    border-radius: 25px;
  color: white;
  font-size: 1rem;
}

@media (max-width:1330px) {
    .hero{
        height: 1500px;
    }
    header{
        display: flex;
  justify-content: center;
  padding-right: 10rem;
     
    }
    header i{
        margin-right: 10px;
    }
    .box{
        display: block;
    }
  
  .heading{
    display: flex;
    justify-content: center;
  }
  #para1{
    display: flex;
    justify-content: center;
    padding-right: 8rem;
  }
.button{
    display: flex;
    justify-content: center;
    padding-right: 20rem;
}
.img-div{
    display: flex;
    justify-content: center;
    padding-top: 6rem;
}
}